body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

button{
  font-size: 25px;
  border-radius: 20x, ;
  color: black;
  border-color: darkgreen;
  margin: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1{
  text-align: center;
  display: block;
  font-size: 15px;
  margin: 10px;
  font-weight: bold;
  color: black;
}

.container{
  margin-top: 20px ;
  padding: auto;
  text-align: center;
}